/* Primary colors */
/* Gradients */
/* Customs */
/* Fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font: 15px "Montserrat", -apple-system, sans-serif;
  background-color: #f6f6fe;
}
body::before, body::after {
  content: "";
  position: fixed;
  width: 50%;
  opacity: 0.5;
  z-index: -1;
}
body::before {
  top: 0;
  right: 0;
  height: 100%;
  background: url("./images/bg-top.svg") right top/contain no-repeat;
}
body::after {
  bottom: 0;
  left: 0;
  height: 50%;
  background: url("./images/bg-bottom.svg") left bottom/contain no-repeat;
}

.title {
  font-size: 2em;
  color: #6d708d;
}

.wrapper {
  text-align: center;
  padding: 5% 0;
}
.wrapper .title {
  margin-bottom: 1em;
}
.wrapper .toggle-price {
  color: #b3b5c6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .toggle-price span {
  padding: 0 1em;
}
.wrapper .toggle-price .toggle-price-switch {
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background: #696fdd linear-gradient(135deg, #a3a8f0, #696fdd);
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s;
}
.wrapper .toggle-price .toggle-price-switch:active {
  opacity: 0.5;
}
.wrapper .toggle-price .toggle-price-switch::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 80%;
  top: 50%;
  left: 53.5%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.5s;
}
.wrapper .toggle-price .toggle-price-checkbox {
  -webkit-appearance: none;
}
.wrapper .toggle-price .toggle-price-checkbox:checked + .toggle-price-switch::before {
  left: 6.67%;
}

.prices-box {
  display: flex;
  padding: 5%;
  justify-content: center;
  flex-wrap: wrap;
}

.single-price {
  width: 90%;
  max-width: 350px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(246, 246, 254, 0.5);
  padding: 3em 2em;
  margin-bottom: 10%;
  text-align: center;
  color: #494c5f;
  box-shadow: 0 5px 30px rgba(73, 76, 95, 0.085);
}
.single-price:nth-of-type(3n+2) {
  background: #696fdd linear-gradient(135deg, #a3a8f0, #696fdd);
  color: #fff;
  z-index: 5;
  transform: scale(1.05);
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.single-price:nth-of-type(3n+2) span, .single-price:nth-of-type(3n+2) a {
  transform: scale(0.95);
}
.single-price:nth-of-type(3n+2) .price-storage,
.single-price:nth-of-type(3n+2) .price-users,
.single-price:nth-of-type(3n+2) .price-send-up {
  border-top: 1px solid rgba(246, 246, 254, 0.5);
}
.single-price:nth-of-type(3n+2) span:last-of-type {
  border-bottom: 1px solid rgba(246, 246, 254, 0.5);
}
.single-price span {
  display: block;
}
.single-price .price-name {
  font-size: 1.1em;
}
.single-price .price-value {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.single-price .price-storage,
.single-price .price-users,
.single-price .price-send-up {
  font-size: 1em;
  padding: 1em 0;
  border-top: 1px solid rgba(179, 181, 198, 0.5);
}
.single-price span:last-of-type {
  border-bottom: 1px solid rgba(179, 181, 198, 0.5);
}
.single-price:nth-of-type(2n) .price-button {
  background: #fff;
  color: #696fdd;
}
.single-price .price-button {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #696fdd linear-gradient(135deg, #a3a8f0, #696fdd);
  padding: 1em 0;
  display: inline-block;
  width: 100%;
  margin-top: 2em;
  border-radius: 5px;
  border: 1px solid #b3b5c6;
}
.single-price .price-button:hover {
  background: transparent;
  color: #696fdd;
}
.single-price:nth-of-type(3n+2) .price-button {
  border: 1px solid #f6f6fe;
}
.single-price:nth-of-type(3n+2) .price-button:hover {
  color: #fff;
}

/* ========== Media queries ========== */
@media screen and (max-width: 1185px) {
  .toggle-price {
    margin-bottom: 5%;
  }

  .single-price {
    max-width: 300px;
  }
}
@media screen and (max-width: 1018px) {
  .prices-box {
    display: block;
  }

  .single-price {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 375px) {
  .toggle-price {
    margin-bottom: 10%;
  }

  .single-price {
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 270px) {
  .wrapper .toggle-price {
    display: block;
  }

  .wrapper .toggle-price span {
    display: block;
    margin: 0.5em;
  }
}
/* ========== Media queries end ========== */
